<div class="wizard-view">
	<h3>Model and Nesting</h3>    
	<blockquote>Select the model and optional nesting</blockquote>
	<div class="container-fluid">  
	  <div class="row-fluid"> 
			<div class="span8">
				<div id="model"><label>Model: </label>
					<select ></select>
				</div>
			</div>
		</div>
		<!-- show nesting selection in another span4? -->
	</div>
</div>

