{
		"command" : "get-data-types-for-dataset",
		"subcommands" : [ 
			{
				"command" : "dataset",
    		"params" : {
      		"data-set" : "ofam2-nrt",
      		"data-stream" : "global-ocean"
    		}
  		}, 
			{
				"command" : "dataset",
    		"params" : {
      		"data-set" : "ofam2-an",
      		"data-stream" : "global-ocean"
    		}
  		} 
		]
}
